<a href="https://colab.research.google.com/github/HarshitDalal/College-Assignment/blob/main/Harshit_python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1. Write a Python program to convert a given integer (in seconds) to hours, minutes  andseconds. 
**Test Data :** 

Input seconds: 25300 

**Expected Output:** 

There are:

H:M:S - 7:1:40

In [ ]:
#PROGRAM
seconds = int(input("Input seconds: "))

seconds %= (24*3600)
hours = seconds//3600
seconds %= 3600
minutes = seconds//60
seconds %= 60

print(f"H:M:S - {hours}:{minutes}:{seconds}")

#OUTPUT

Input seconds: 25300
H:M:S - 7:1:40

#Q2. Write a Python program to convert a given integer (in days) to years, months and  days,assumes that all months have 30 days and all years have 365 days.
**Test Data :**

Input no. of days: 2535

**Expected Output:** 

6 Year(s) 

11 Month(s) 

15 Day(s)

In [ ]:
#PROGRAM
days = int(input("Input no. of days:"))

days = days % (12*365)
years = days // 365
days %= 365
months = days//30
days %= 30

print(f"{years} Year(s)\n{months} Month(s)\n{days} Day(s)")

#OUTPUT

Input no. of days:2535
6 Year(s)
11 Month(s)
15 Day(s)

#Q3. . Write a Python program that read 5 numbers and sum of all odd values between  them 
**Test Data :**

Input the first number: 11 

Input the second number: 17

Input the third number: 13 

Input the fourth number: 12 

Input the fifth number: 5

**Expected Output:**
 
Sum of all odd values: 46

In [ ]:
#PROGRAM
first = int(input("Input the first number: "))
second = int(input("Input the second number: "))
third = int(input("Input the third number: "))
fourth = int(input("Input the fourth number: "))
fifth = int(input("Input the fifth number: "))
sum = 0
if((first%2)!=0):
  sum += first
if((second%2)!=0):
  sum += second
if((third%2)!=0):
  sum += third
if((fourth%2)!=0):
  sum += fourth
if((fifth%2)!=0):
  sum += fifth
print("Sum of all odd values: ",sum)

#OUTPUT

Input the first number: 11
Input the second number: 17
Input the third number: 13
Input the fourth number: 12
Input the fifth number: 5
Sum of all odd values:  46

#Q4. Write a Python program that reads two integers and checks whether they are  multiplied or not. 
**Test Data :**

Input the first number: 5 

Input the second number: 15 

**Expected Output:** 

Multiplied!

In [ ]:
#PROGRAM
first = int(input("Input the first number: "))
second = int(input("Input the second number: "))
if (second%first == 0):
  print("Multiplied!")
else:
  print("Not Multiplied!")

#OUTPUT

Input the first number: 5
Input the second number: 15
Multiplied!

#Q5. Write a Python program that reads an integer between 1 and 12 and print the  month of the year in English. 
**Test Data :** 

Input a number between 1 to 12 to get the month name: 8 

**Expected Output:** 

August

In [ ]:
#PROGRAM
from calendar import month_name
num = int(input("Input a number between 1 to 12 to get the month name: "))
print(month_name[num])

#OUTPUT

Input a number between 1 to 12 to get the month name: 8
August

#Q6. Write a Python program that read 5 numbers and counts the number of positive  numbersand negative numbers. 
**Test Data :**

Input the first number: 5 

Input the second number: -4 

Input the third number: 10 

Input the fourth number: 15 

Input the fifth number: -1 

**Expected Output:**

Number of positive numbers: 3 

Number of negative numbers: 2

In [ ]:
#PROGRAM
first = int(input("Input the first number: "))
second = int(input("Input the second number: "))
third = int(input("Input the third number: "))
fourth = int(input("Input the fourth number: "))
fifth = int(input("Input the fifth number: "))
lst = [first,second,third,fourth,fifth]
pos=0
neg=0
for i in lst:
  if i>0:
    pos+=1
  else:
    neg+=1
print("Number of positive numbers: ",pos)
print("Number of negative numbers: ",neg)

#OUTPUT

Input the first number: 5
Input the second number: -4
Input the third number: 10
Input the fourth number: 15
Input the fifth number: -1
Number of positive numbers:  3
Number of negative numbers:  2

#Q7. Write a Python program that read 5 numbers and counts the number of positive  numbersand print the average of all positive values. 

**Test Data :**

Input the first number: 5 

Input the second number: 8 

Input the third number: 10 

Input the fourth number: -5 

Input the fifth number: 25 

**Expected Output:**

Number of positive numbers: 4 

Average value of the said positive numbers: 12.00

In [ ]:
#PROGRAM
first = int(input("Input the first number: "))
second = int(input("Input the second number: "))
third = int(input("Input the third number: "))
fourth = int(input("Input the fourth number: "))
fifth = int(input("Input the fifth number: "))
lst = [first,second,third,fourth,fifth]
count = 0
sum = 0
for index,value in enumerate(lst):
  if value>=0:
    count+=1
    sum +=value
print("Number of positive numbers: ",count)
avg = sum/count
print("Average value of the side positive numbers: {:.2f}".format(avg))

#OUTPUT

Input the first number: 5
Input the second number: 8
Input the third number: 10
Input the fourth number: -5
Input the fifth number: 25
Number of positive numbers:  4
Average value of the side positive numbers: 12.00

#Q8. Write a Python program that read 5 numbers and sum of all odd values  betweenthem. 
**Test Data :**

Input the first number: 5 

Input the second number: 7 

Input the third number: 9 

Input the fourth number: 10 

Input the fifth number: 13 

**Expected Output:**
 
Sum of all odd values: 34

In [ ]:
#PROGRAM
first = int(input("Input the first number: "))
second = int(input("Input the second number: "))
third = int(input("Input the third number: "))
fourth = int(input("Input the fourth number: "))
fifth = int(input("Input the fifth number: "))
lst = [first,second,third,fourth,fifth]
odd = 0
for indes,value in enumerate(lst):
  if value%2!=0:
    odd +=value
print("Sum of all odd values: ",odd)

#OUTPUT

Input the first number: 5
Input the second number: 7
Input the third number: 9
Input the fourth number: 10
Input the fifth number: 13
Sum of all odd values:  34

#Q9. Write Python program that converts Centigrade to Fahrenheit.

In [ ]:
#PROGRAM
cen = int(input("Enter centigrade : "))
fah = (cen * 9/5) + 32
print(f"{cen}°C - {fah}°F")

#OUTPUT

Enter centigrade : 37
37°C - 98.6°F

#Q10. Write a Python program that converts kilometers per hour to miles per hour 
**Expected Output :**

Input kilometers per hour: 15 

9.320568 miles per hour

In [ ]:
#PROGRAM
km = int(input('Input kilometers per hour: '))
mile = km * 0.6213711922
print("{:.6f} miles per hour".format(mile))

#OUTPUT

Input kilometers per hour: 15
9.320568 miles per hour

#Q11. Write a Python program to check two given integers, and print true if one of them is 30 or if their sum is 30 else print false.

In [ ]:
#PROGRAM
num1 = int(input("Input first number: "))
num2 = int(input("Input second number: "))
sum = num1+num2
if (num1==30 or num2==30 or sum==30):
  print(True)
else:
  print(False)
  
#OUTPUT

Input first number: 15
Input second number: 24
False

#Q12. Write a Python program that takes hours and minutes as input, and calculates the  totalnumber of minutes

In [ ]:
#PROGRAM
hours = int(input("Input hours: "))
minutes = int(input("Input minutes: "))
totalminutes = (hours*60)+minutes
print("totalminuts: ",totalminutes)

#OUTPUT

Input hours: 5
Input minutes: 37
totalminuts:  337

#Q13. Write a Python program to integral quotient and remainder of a division 
Input numerator : 2500 

Input denominator : 235 

quotient = 10,  

remainder = 150

In [ ]:
#PROGRAM
nume = int(input("Input numerator : "))
deno = int(input("Input denominator : "))
quo = nume//deno
rem = nume%deno
print("quotient = ",quo)
print("remainder = ",rem)

#OUTPUT

Input numerator : 2500
Input denominator : 235
quotient =  10
remainder =  150

#Q14. What are the benefits of using Python?
**Ans.** 
*   **Third-Party Modules** - 
Python Package Index (PyPI) comprises a multitude of third-party modules which makes Python integrate with other languages and platforms easily.
 
*   **Presence of Libraries** - 
The presence of these libraries essentially helps in reducing the code to be written by the programmer.

*   **Open Source and free** - 
Python is free for use even for commercial purposes. Moreover, active developers can contribute by developing modules and appending them to the existing library.

*   **Easy to learn** - 
Python is popular for its excellent readability. This means, even a non-programmer can read and comprehend the uncluttered syntax.

*   **User-Friendly data structures** - 
With its built-in data structures, Python can easily construct run-time data structures including Arrays, Lists, tuples, and Files. 

*   **Speed** -
Being expressive and with object-oriented design, Python contributes to increased speed and productivity even with less amount of coding.

#Q15. What are Keywords in Python?
**Ans.**
**Python Keywords -**

Python Keywords are special reserved words that convey a special meaning to the compiler/interpreter. Each keyword has a special meaning and a specific operation. These keywords can't be used as a variable.

*Following is the List of Python Keywords -*

```
True,	False,	None,	and,	as,
asset,	def,	class,	continue,	break,
else,	finally,	elif,	del,	except
global,	for,	if,	from,	import,
raise,	try,	or,	return,	pass,
nonlocal,	in,	not,	is,	lambda.
```

#Q16. What are Literals in Python and explain about different Literals?
**Ans.**

**Literals in Python**

Generally, literals are a notation for representing a fixed value in source code. They can also be defined as raw value or data given in variables or constants. 

**Python has different types of literals.**
```
String literals
Numeric literals
Boolean literals
Literal Collections
Special literals
```
**String literals**

A string literal can be created by writing a text(a group of Characters ) surrounded by the single(”), double(“”), or triple quotes.  By using triple quotes we can write multi-line strings or display in the desired way. 

Example:

In [ ]:
# string literals

# in single quote
s = 'Harshit Dalal'

# in double quotes
t = "Harshit Dalal"

# multi-line String
m = '''Harshit
    Vipin
    Dalal'''

print(s)
print(t)
print(m)

#Output

Harshit Dalal
Harshit Dalal
Harshit
    Vipin
    Dalal

**Character literal**

It is also a type of string literals where a single character surrounded by single or double-quotes.

Example:

In [ ]:
# character literal in single quote
v = 'n'
 
# character literal in double quotes
w = "a"
 
print(v)
print(w)

#Output

n
a

**Numeric literals**
They are  immutable and there are three types of numeric literal : 

Integer
Float
Complex.

**Integer :**

Both positive and negative numbers including 0. There should not be any fractional part.

Example:

In [ ]:
# integer literal
 
# Binary Literals
a = 0b10100
 
# Decimal Literal
b = 50
 
# Octal Literal
c = 0o320
 
# Hexadecimal Literal
d = 0x12b
 
print(a, b, c, d)

#Output

20 50 208 299

**Float**

These are real numbers having both integer and fractional parts.

Example:

In [ ]:
# Float Literal
e = 24.8
f = 45.0
 
print(e, f)

#Output

24.8 45.0

**Complex Literal**

The numerals will be in the form of a + bj, where ‘a‘ is the real part and ‘b‘ is the complex part.

Example:

In [ ]:
z = 7 + 5j
 
# real part is 0 here.
k = 7j
 
print(z, k)

#Output

(7+5j) 7j

**Boolean literals**
There are only two Boolean literals in Python. They are true and false.

Example:

In [ ]:
a = (1 == True)
b = (1 == False)
c = True + 3
d = False + 7
 
print("a is", a)
print("b is", b)
print("c:", c)
print("d:", d)

#Output

a is True
b is False
c: 4
d: 7

Literal Collections
There are four different types of literal collections
```
List literals
Tuple literals
Dict literals
Set literals
```
**List literals**

List contains items of different data types. The values stored in List are separated by comma (,) and enclosed within square brackets([]). We can store different types of data in a List. Lists are mutable.

Example :

In [ ]:
# List literals
number = [1, 2, 3, 4, 5]
name = ['Amit', 'kabir', 'bhaskar', 2]
print(number)
print(name)

#Output

[1, 2, 3, 4, 5]
['Amit', 'kabir', 'bhaskar', 2]

**Tuple literals**

A tuple is a collection of different data-type.  It is enclosed by the parentheses ‘()‘ and each element is separated by the comma(,). It is immutable.

Example:

In [ ]:
# Tuple literals
even_number = (2, 4, 6, 8)
comb = (1, "Amit", 5, "Jay")
 
print(even_number)
print(comb)

#Output

(2, 4, 6, 8)
(1, 'Amit', 5, 'Jay')

**Dictionary literals**

Dictionary stores the data in the key-value pair. It is enclosed by curly-braces ‘{}‘ and each pair is separated by the commas(,).  We can store different types of data in a dictionary. Dictionaries are mutable.

Example:

In [ ]:
# Dict literals
alphabets = {'a': 'apple', 'b': 'ball', 'c': 'cat'}
information = {'name': 'amit', 'age': 20, 'ID': 20}
 
print(alphabets)
print(information)

#Output

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'name': 'amit', 'age': 20, 'ID': 20}

**Set literals**

Set is the collection of the unordered data set. It is enclosed by the {} and each element is separated by the comma(,).

Example:

In [ ]:
# Set literals
vowels = {'a', 'e', 'i', 'o', 'u'}
fruits = {"apple", "banana", "cherry"}
 
print(vowels)
print(fruits)

#Output

{'o', 'i', 'e', 'a', 'u'}
{'cherry', 'banana', 'apple'}

**Special literals**

Python contains one special literal (None). ‘None’ is used to define a null variable. If ‘None’ is compared with anything else other than a ‘None’, it will return false.

Example:

In [ ]:
# Special literals
water_remain = None
print(water_remain)

#Output

None

#Q17. How is memory managed in Python?
**Ans.**

Memory allocation can be defined as allocating a block of space in the computer memory to a program. In Python memory allocation and deallocation method is automatic as the Python developers created a garbage collector for Python so that the user does not have to do manual garbage collection.

**Garbage Collection -**

Garbage collection is a process in which the interpreter frees up the memory when not in use to make it available for other objects.
Assume a case where no reference is pointing to an object in memory i.e. it is not in use so, the virtual machine has a garbage collector that automatically deletes that object from the heap memory

**Reference Counting -**

Reference counting works by counting the number of times an object is referenced by other objects in the system. When references to an object are removed, the reference count for an object is decremented. When the reference count becomes zero, the object is deallocated.

**Memory Allocation in Python -**
There are two parts of memory:
```
stack memory
heap memory
```


The methods/method calls and the references are stored in stack memory and all the values objects are stored in a private heap.

**Work of Stack Memory -**

The allocation happens on contiguous blocks of memory. We call it stack memory allocation because the allocation happens in the function call stack. The size of memory to be allocated is known to the compiler and whenever a function is called, its variables get memory allocated on the stack.

It is the memory that is only needed inside a particular function or method call. When a function is called, it is added onto the program’s call stack. Any local memory assignments such as variable initializations inside the particular functions are stored temporarily on the function call stack, where it is deleted once the function returns, and the call stack moves on to the next task. This allocation onto a contiguous block of memory is handled by the compiler using predefined routines, and developers do not need to worry about it.

**Work of Heap Memory -**

The memory is allocated during the execution of instructions written by programmers. Note that the name heap has nothing to do with the heap data structure. It is called heap because it is a pile of memory space available to programmers to allocated and de-allocate. The variables are needed outside of method or function calls or are shared within multiple functions globally are stored in Heap memory.

#Q18. What are local variables and global variables in Python?
**Ans.**

Global variables are those which are not defined inside any function and have a global scope whereas local variables are those which are defined inside a function and its scope is limited to that function only. 

**Local Variables**

Local variables are those which are initialized inside a function and belongs only to that particular function. It cannot be accessed anywhere outside the function. Let’s see how to create a local variable.

Example: Creating local variables

In [ ]:
def f():
     
    # local variable
    s = "I love Programming"
    print(s)
 
# Driver code
f()

#Output

I love Programming

In [ ]:
"""If we will try to use this local variable outside the function then let’s see what will happen.
Example:"""
def f():
    # local variable
    he = "I love Programming"
    print("Inside Function:", he)
 
# Driver code
f()
print(he)

Inside Function: I love Programming

NameError: ignored

#Q19. What is type conversion in Python?
**Ans.**

The process of converting a Python data type into another data type is known as type conversion. There are mainly two types of type conversion methods in Python, namely, implicit type conversion and explicit type conversion.

**Implicit Type Conversion in Python**

In Python, when the data type conversion takes place during compilation or during the run time, then it’s called an implicit data type conversion. 

**Explicit Type Conversion in Python**

Explicit type conversion is also known as typecasting. Explicit type conversion takes place when the programmer clearly and explicitly defines the same in the program. 

#Implicit Type Conversion in Python
 ```
a = 5
b = 5.5
sum = a + b
print (sum)
print (type (sum)) #type() is used to display the datatype of a variable
 ```
#Explicit Type Conversion in Python

# Adding string and integer data types using explicit type conversion

```
n1 = 100
n2= "200"
```
```
#result1 = n1 + n2 
```
```
In above line variable 'n1' is of number type and 'n2' is of String type 

When we try to add these two integers and store the value in a variable named result1, 
a Type Error occurs 
```

```
So, in order to perform this operation, we have to use explicit type casting.
As we can see in the above code block, we have converted the variable n2 into i
nt type and then added variables n1 and n2. 
The sum is stored in the variable named result2, 
and when printed it displays 300 as output, 
as we can see in the output block.

```
```
n2= int(n2)
result2 = n1 + n2
print(result2)
```

#Q20. What is a dynamically typed language?
**Ans.**

**Dynamically typed language**

A language is dynamically typed if the type is associated with run-time values, and not named variables/fields/etc. This means that you as a programmer can write a little quicker because you do not have to specify types every time (unless using a statically-typed language with type inference).

*Examples*: Perl, Ruby, Python, PHP, JavaScript, Erlang

Most scripting languages have this feature as there is no compiler to do static type-checking anyway, but you may find yourself searching for a bug that is due to the interpreter misinterpreting the type of a variable. Luckily, scripts tend to be small so bugs have not so many places to hide.

Most dynamically typed languages do allow you to provide type information, but do not require it. One language that is currently being developed, Rascal, takes a hybrid approach allowing dynamic typing within functions but enforcing static typing for the function signature.